:root {
  --main-text-color: #E1E1E1;
}

* {
  font-family: inherit;
}

body, html {
    font-family: 'IBM Plex Mono', Consolas, monospace !important;
    line-height: 1.6;
    background-color: #121212;
    color: var(--main-text-color);
}

.bot-border {
    border-bottom: 1px solid #444;
    padding: 0px 0px 5px 0px;
}

.container{
    margin: 10px 100px  10px 100px;
}

p {
    font-size: 1.1rem;
}

a {
    color: #D2B48C; /* Change this to any color you like */
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content {
    margin: 0em 0.3em;
}

.code-block {
    background-color: #333;
    padding: 1rem;
    border-left: 3px solid #E0E0E0;
    width: fit-content;
    margin: 1.5rem 0;
}

#name {
    font-size: 1.5rem;
    font-weight: italic;
    margin: 0;
    color: var(--main-text-color);
}

h3 {
    margin: 1.2rem 0 0.6rem;
    font-weight: normal;
}

ul {
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

code {
    background-color: #333;
    padding: 2px 4px;
    font-family: inherit;
    color: var(--main-text-color);
}

pre {
    background-color: #333;
    padding: 1rem;
    overflow-x: auto;
    margin: 1rem 0;
    color: var(--main-text-color);
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.top-nav a {
    /* color: var(--main-text-color); */
    text-decoration: none;
}

.top-nav a:hover {
    text-decoration: underline;
}

.article-summary {
    padding-bottom: 1em;
    border-bottom: 1px solid #444;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .top-nav ul {
        gap: 15px;
    }
}

